/* Giants Bold 폰트 */
@font-face {
	font-family: 'Giants Bold';
	src: url('../fonts/Giants-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* Giants Inline 폰트 */
@font-face {
	font-family: 'Giants Inline';
	src: url('../fonts/Giants-Inline.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Giants Regular 폰트 */
@font-face {
	font-family: 'Giants Regular';
	src: url('../fonts/Giants-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* KBO Dia Gothic */
@font-face {
	font-family: 'KBO Dia Gothic_bold';
	src: url('../fonts/KBO Dia Gothic_bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KBO Dia Gothic_light';
	src: url('../fonts/KBO Dia Gothic_light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KBO Dia Gothic_medium';
	src: url('../fonts/KBO Dia Gothic_medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

