/*----------------------------------------*/
/*  23. Login CSS START
/*----------------------------------------*/

.notice{
    &__area{
        display: flex;
        justify-content: center;
        padding: 60px 0;
        & h1{
        }
    }
    &__title{
        text-align: center;
        margin-bottom: 40px;
    }
    &__content{
        max-width: 900px;
        padding: 0 40px 0;

        @media #{$lg_gt}{
            width: 900px;
            padding-left: 0px;
            padding-right: 0px;
        }
        @media #{$lg_st}{
            width: 90vw;
            padding-left: 0px;
            padding-right: 0px;
        }


        .ant-table-cell:nth-child(1){
            min-width: 70px;
        }
        .ant-table-cell:nth-child(2){
        }
        .ant-table-cell:nth-child(3){
            min-width: 95px;
        }
        .ant-table-cell:nth-child(4){
            min-width: 95px;
        }
        .ant-table-cell:nth-child(5){
            min-width: 95px;
        }
    }
}