/*----------------------------------------*/
/*  23. Login CSS START
/*----------------------------------------*/

.overview{
    padding-bottom:0;
    &__area{
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: 60px 0 0;
    }
    &__title{
        text-align: center;
        margin-bottom: 20px;
    }
    &__content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        padding: 0 40px 0;

        $base: 992px;
        $ratio: 5/8;
        @media #{$lg_st}{
            width: 90vw;
            padding-left: 0px;
            padding-right: 0px;
        }
        & section{
            margin-bottom: 50px;
        }
    }
    &__textInfo{
        tr{
            height: 50px;
            margin-bottom: 5px;
            display: flex;
            justify-items: baseline;
        }
        .item{
            position: relative;
            width: 85px;
            font-family: $font-nps-bold;
            white-space: nowrap;
        }
        .item::after{
            content: "";
            display: inline-block;
            position: absolute;
            top: 5px;
            left: 61px;
            width: 3px; /* 막대의 너비 조절 */
            height: 14px; /* 막대의 높이 조절 */
            background-color: #3b8bdb; /* 파란색으로 설정 */
            margin-left: 10px; /* A 요소 다음에 한 칸 띄우기 위한 여백 설정 */
            margin-right: 10px; /* A 요소 다음에 한 칸 띄우기 위한 여백 설정 */
        }
        .desc{
            font-family: $font-lato;
            &-sub{
                font-size: small;
            }
        }
        p{
            margin-bottom: 0;
        }
        .directions{
            width: fit-content;
            padding: 4px 7px;
            font-size: smaller;
            color: white;
            background-color: #2a3a57;
            line-height: 1.2;
            border-radius: 9px;
            border-color: #dfe5f3;
            border-width: 2px;
            border-style: solid;
        }
    }
    &__schedule{
        padding-bottom: 0;
        .contentBox{
            display: flex;
            flex-direction: column; /* 수직 방향으로 요소들을 배치 */
            justify-content: center; /* 수직 가운데 정렬 */
            min-height: 100px;
            min-width: 140px;
            padding: 20px 0px; /* 내용과 테두리 사이 여백 설정 */
            .item{
                margin-bottom: 13px;

                .title{
                    width: fit-content;
                    padding: 4px 7px;
                    font-size: smaller;
                    color: #264982;
                    line-height: 1.2;
                    border-radius: 9px;
                    border-color: #dfe5f3;
                    border-width: 2px;
                    border-style: solid;
                }
                .ho{
                    width: fit-content;
                    padding: 1px 2px;
                    color: white;
                    line-height: 1.2;
                }
                .ho-color1{
                    background-color: $color-401-ho;
                }
                .ho-color2{
                    background-color: $color-402-ho;
                }
                .ho-color3{
                    background-color: $color-403-ho;
                }

            }
        }
        li{
            /* TimelineOppositeContent */
            >div:nth-child(1){
                font-family: $font-nps-bold;
                font-size: 0.9rem;
            }
            /* TimelineSeparator */
            >div:nth-child(2) span{
                background-color: #3b8bdb;
                border-color: #7adb4d;
            }
            /* TimelineContent */
            >div:nth-child(3){
                padding-top :2rem;
            }
        }
        .ops{
            opacity: 0;
        }
        .last{
            min-height:0px;
            padding: 10px 0 0 0;
        }
    }
    &__poster{
        width: 100%;
        .poster{
            width: 100%;
            object-fit: cover;
        }
    }

}