/*----------------------------------------*/
/*  23. Login CSS START
/*----------------------------------------*/
$sprintProjColor1: #bf5555;
$sprintProjColor2: #7555bf;
$sprintProjColor3: #bf559f;
$sprintApplyColor: #bf55af;

.sprintPreRegi {
    &__area {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 750px;
        width: fit-content;

        @media #{$lg_gt}{
            width: 750px;
            padding-left: 0;
            padding-right: 0;
        }
        @media #{$lg_st}{
            width: 90vw;
            padding-left: 0;
            padding-right: 0;
        }

        .colorSprint1{color: $sprintProjColor1}
        .colorSprint2{color: $sprintProjColor2}
        .colorSprint3{color: $sprintProjColor3}

        section{
            margin-bottom: 40px;
            width: 100%;
        }

        .title {
            font-size: 30px;
            text-align: center;
            color: #9945a7;
            margin-bottom: 30px;

            @media #{$xs}{
                font-size: 25px;
                margin-bottom: 20px;
            }
        }


        .textInfo{


            tr{
                height: 50px;
                margin-bottom: 5px;
                display: flex;
                justify-items: baseline;
            }
            .item{
                position: relative;
                width: 96px;
                font-family: $font-nps-bold;
                white-space: nowrap;
                @media #{$xs}{
                    width: 85px;
                    font-size: 13px;
                }
            }
            .item::after{
                content: "";
                display: inline-block;
                position: absolute;
                top: 5px;
                left: 74px;
                width: 3px; /* 막대의 너비 조절 */
                height: 14px; /* 막대의 높이 조절 */
                background-color: #c83bdb; /* 파란색으로 설정 */
                margin-left: 10px; /* A 요소 다음에 한 칸 띄우기 위한 여백 설정 */
                margin-right: 10px; /* A 요소 다음에 한 칸 띄우기 위한 여백 설정 */
                @media #{$xs}{
                    left: 61px;
                }
            }
            .desc{
                font-family: $font-lato;
                @media #{$xs}{
                    font-size: 13px;
                }
                &-sub{
                    font-size: 11.5px;
                }
            }
            p{
                margin-bottom: 0;
            }
            .directions{
                width: fit-content;
                padding: 4px 7px;
                font-size: smaller;
                color: white;
                background-color: #2a3a57;
                line-height: 1.2;
                border-radius: 9px;
                border-color: #dfe5f3;
                border-width: 2px;
                border-style: solid;
            }
        }


        .sprintProjectBox{
            position: relative;
            padding: 15px 0;
            .subTitle-container {
                width: fit-content;
                height: 30px;
                padding: 5px 45px 5px 25px;
                position: relative;
                margin-bottom: 10px;
            }
            .subTitle{
                width: 100%; /* 부모 div와 같은 너비 설정 */
                height: 100%;
                color: white;
                text-align: center; /* 텍스트 가운데 정렬 */
                line-height: 20px; /* 수직 가운데 정렬 */
                font-weight: bold; /* 텍스트 굵게 */
                @media #{$xs}{
                    font-size: 14px;
                }
            }
            .subTitle-bg {
                z-index: -1;
                width: 100%; /* 부모 div와 같은 너비 설정 */
                height: 100%; /* 부모 div와 같은 높이 설정 */
                /* 그라데이션 배경 추가, 중간에서 오른쪽으로 투명해집니다. */
                color: #fff; /* 텍스트 색상 */
                position: absolute; /* 포지션 설정 */
                top: 0; /* 위쪽에 위치 */
                left: 0; /* 왼쪽에 위치 */
                transform: skew(-20deg); /* 자식 div에는 skew를 되돌리는 역방향 skew 적용 */
                &-color1{
                    background: linear-gradient(to right, $sprintProjColor1 30%, rgba(52, 152, 219, 0) 100%);
                }
                &-color2{
                    background: linear-gradient(to right, $sprintProjColor2 30%, rgba(52, 152, 219, 0) 100%);
                }
                &-color3{
                    background: linear-gradient(to right, $sprintProjColor3 30%, rgba(52, 152, 219, 0) 100%);
                }
            }

            .item{
                .text{
                    font-family: $font-nps-bold;
                    white-space: nowrap;
                    @media #{$xs}{
                        font-size: 13px;
                    }
                }
            }
            .desc{
                .text{

                }
            }
            .bottom{
                display: flex;
                justify-content: flex-end;
                .deco{
                    width: 85px;
                    height: 35px;
                    position: relative;
                    z-index: 1;
                    &-color1{
                        background: linear-gradient(to left, $sprintProjColor1 0%, rgba(52, 152, 219, 0) 100%);
                    }
                    &-color2{
                        background: linear-gradient(to left, $sprintProjColor2 0%, rgba(52, 152, 219, 0) 100%);
                    }
                    &-color3{
                        background: linear-gradient(to left, $sprintProjColor3 0%, rgba(52, 152, 219, 0) 100%);
                    }
                    &-inner{
                        z-index: 2;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: white;
                        width: 75px;
                        height: 25px;
                    }
                }
            }

        }

        #SprintApply{
            display: flex;
            flex-direction: column;
            align-items: center;

            .tabBtn {
                font-family: 'KBO Dia Gothic_bold';
                width: 300px;
                font-size: 23px;
                color: $sprintApplyColor;
                @media #{$lg_st}{
                    width: 45vw;
                }
                @media #{$xs}{
                    font-size: 17px;
                }
            }
            .preRegiBtn {
                font-family: $font-nps-regular;
                margin-top: 40px;
                width: 100%;
                background-color: $sprintApplyColor;
            }

            .row {
                display: flex;
                align-items: center;
            }

            .guide {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: fit-content;

                .office {
                    margin-bottom: 13px;
                    font-family: $font-kbo-bold;
                    font-size: x-large;
                    color: #10274d;
                }

                .tel, .email {
                    font-family: $font-kbo-medium;
                    font-size: medium;
                    margin-bottom: 10px;

                    > span:nth-child(1) {
                        font-weight: bold;
                    }
                }

                span {
                    display: block;
                }
            }
            .MuiTabs-indicator{
                background-color: $sprintApplyColor;
            }
        }
    }


}

